body {
    display: flex;
    flex-direction: column;
    background-color: cyan;
    text-align: center;
    min-height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.slogan {
    display: flex;
    justify-content: center;
}

.round-output {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.selections {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.final {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    gap: 50px;
    margin-bottom: auto;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 60px;
    transition: 100ms;
}

button:hover {
    transform: scale(1.5);
}

.footer {
    display: flex;
    margin-top: auto;
}